<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Flask</title>
</head>
<body>
    {% if person == "corinthians"%}
        <h1>Hello {{ person }}, o melhor!</h1>
    {% elif person == "Santos"%}
        <h1>Hello {{ person }}, aqui não é a série B, seu duente!</h1>
    {% elif person == "Palmeiras"%}
        <h1>{{ person }}, Cadê O MUNDIAl???? kakkakakakkakakakkakakakkaka</h1>
    {% else %}
        <h1>Hello, World!</h1>
    {% endif %}
</body>
</html>